COMFYUI_BRANCH=master
COMFY_DOCKER_HOST_DIR=/home/venetanji/dev/comfy-docker

# Shared ComfyUI data
COMFYUI_MODELS_DIR=/home/venetanji/dev/ComfyUI/models
COMFYUI_USER_DIR=/home/venetanji/dev/comfy-docker/user
COMFYUI_INPUT_DIR=/home/venetanji/dev/comfy-docker/input
COMFYUI_OUTPUT_DIR=/home/venetanji/dev/comfy-docker/output
COMFYUI_ENV_CACHE_DIR=/home/venetanji/dev/comfy-docker/.ce
COMFYUI_DB_PATH=sqlite:////app/ComfyUI/user/comfyui-primary.db
COMFYUI_VIDEO_DB_PATH=sqlite:////app/ComfyUI/user/comfyui-video.db

# Optional override if you want workflows outside COMFYUI_USER_DIR
COMFYUI_WORKFLOWS_DIR=/home/venetanji/dev/ComfyUI/user/default/workflows

# Primary image-focused instance
COMFYUI_HOSTNAME=comfyui
COMFYUI_PORT=8189
COMFYUI_GPU_ID=0
TS_AUTHKEY=

# Secondary video/heavy instance (needs more VRAM)
COMFYUI_VIDEO_HOSTNAME=comfyui-video
COMFYUI_VIDEO_PORT=8190
COMFYUI_VIDEO_GPU_ID=1
TS_AUTHKEY_VIDEO=
